/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: url("https://cdn.discordapp.com/attachments/706612693661909033/1250178256745795634/tchatbg.png?ex=6669febb&is=6668ad3b&hm=79f1f86b797ff9abd33015d119dfd4b276013915f7dd9dafde3895aab9e2e9b0&");}
