<app-header></app-header>
<div class="background">

</div>

<mat-card class="example-card">
  <mat-card-header>
  <div class="example-card2">
    <mat-card-subtitle class="example-card3">SURVIVE IN THE SNOW</mat-card-subtitle>
  </div>
  </mat-card-header>
  <mat-card-content>
    <p>In this immersive multiplayer sci-fi post-apocalyptic role-playing game, players will find themselves thrust into a desolate and frozen environment on a once-promising terraformed planet.
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>
  <mat-card class="example-card">
    <mat-card-header>
    <div class="example-card2">
      <mat-card-subtitle class="example-card3">AMBIENCE</mat-card-subtitle>
    </div>
    </mat-card-header>
    <mat-card-content>
      <img class="centrao" mat-card-xl-image src="https://cdn.discordapp.com/attachments/1050781438406037534/1197178803684909157/image.png?ex=666ef025&is=666d9ea5&hm=a063bcaf162a33aa2be42497bafbb09bd2a818d54253e3f1a59def5ef674f0b7&">
      <p>In this immersive multiplayer sci-fi post-apocalyptic role-playing game, players will find themselves thrust into a desolate and frozen environment on a once-promising terraformed planet.
      </p>
      <mat-divider></mat-divider>
    </mat-card-content>
  </mat-card>


<app-footer></app-footer>
