<app-header></app-header>
<div>
</div>
<br>
<br>
<br>
  <mat-card class="example-card">
    <mat-card-header>
    <div class="example-card2">
      <mat-card-subtitle class="example-card3">LIGHTING</mat-card-subtitle>
    </div>
    </mat-card-header>
    <mat-card-content>
      <img class="centrao" mat-card-xl-image src="https://www.byond.com/games/hubpic/113352_23761.png">
      <p>In this immersive multiplayer sci-fi post-apocalyptic role-playing game, players will find themselves thrust into a desolate and frozen environment on a once-promising terraformed planet.
      </p>
      <mat-divider></mat-divider>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card class="example-card">
    <mat-card-header>
    <div class="example-card2">
      <mat-card-subtitle class="example-card3">AMBIENCE</mat-card-subtitle>
    </div>
    </mat-card-header>
    <mat-card-content>
      <img class="centrao" mat-card-xl-image src="https://www.byond.com/games/hubpic/113352_23762.png">
      <p>In this immersive multiplayer sci-fi post-apocalyptic role-playing game, players will find themselves thrust into a desolate and frozen environment on a once-promising terraformed planet.
      </p>
      <mat-divider></mat-divider>
    </mat-card-content>
  </mat-card>
<app-footer></app-footer>
